CSCE-479-879/.ipynb_checkpoints/
CSCE-479-879/Hackathons/.ipynb_checkpoints/
**/.ipynb_checkpoints/

*.out
*/.ipynb_checkpoints/*
tensorflow-datasets/

/work/scott/mrawool/Intro-Deep-Learning-Notebooks/CSCE-479-879/Hackathons/.ipynb_checkpoints
/work/scott/mrawool/Intro-Deep-Learning-Notebooks/CSCE-479-879/Hackathons/tmp